{% extends "accounts/index.html" %}

{% load pagination %}

{% block title %}
Meus Pedidos
{% endblock %}

{% block accounts_container %}
<h2>Meus Pedidos</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Pedido
            </th>
            <th>
                Livros
            </th>
            <th>
                Situação
            </th>
            <th>
                Data
            </th>
            <th>
                Remover
            </th>
        </tr>
    </thead>
    <tbody>
        {% for order in object_list %}
        <tr>
            <td>
                <a href="{% url 'order_detail' order.pk %}">#{{ order.pk }}</a>
            </td>
            <td>
                {% for book in order.books %}
                {{ book.name }}{% if not forloop.last %}<br />{% endif %}
                {% endfor %}
            </td>
            <td>
                {{ order.get_status_display }}
            </td>
            <td>
                {{ order.created|date:"d/m/Y" }}
            </td>
            <td>
               <a href="" class="btn btn-danger btn-sm" title="Remover">X</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% pagination request paginator page_obj %}
{% endblock %}
