{% load thumbnail %}
<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <a href="{{ book.get_absolute_url }}">
           {% if book.image %}
            <img src="{{ book.image|thumbnail_url:'book_image'}}" />
            {% else %}
            <img src="http://placehold.it/350x250" alt="" />
            {% endif %}
        </a>
        <div class="caption">
            <h3>{{ book }}</h3>
            <dt>Preço: R$ {{ book.price|floatformat:"2" }}</dt>
            <br/>
            <p><a href="{{ book.get_absolute_url }}" class="btn btn-warning" role="button">Detalhes</a>
                <a href="{% url 'create_cartitem' book.slug %}" class="btn btn-info" role="button">Adicionar</a></p>
        </div>
    </div>
</div>
