{% extends "base.html" %}

{% load pagination %}

{% block title %}
    Listagem de Livros | {{ block.super }}
{% endblock %}

{% block container %}
    <div class="jumbotron page-header">
        <h1>Book Desapega</h1>
        <p>Você que tem aquele livro antigo que já leu varias vezes e não sabe o que fazer com ele! Não deixe seu livro parado, anuncie já, e ganhe um dinherinho extra com a venda do seu livro usado.</p>
    </div>
<div class="page-header">
    <h2>Livros Disponíveis</h2>
</div>
<div class="row">
    {% for book in books %}
    {% include "catalog/_book.html" %}
    {% endfor %}
</div>
{% pagination request paginator page_obj %}
{% endblock %}