{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
{{ book }} | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
  <h1>{{ book }}</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="{{ book.get_absolute_url }}">
           {% if book.image %}
            <img src="{{ book.image|thumbnail_url:'book_image'}}" alt="" />
            {% else %}
            <img src="http://placehold.it/350x250" alt="" />
            {% endif %}
        </a>
  <h3>Preço: R$ {{ book.price|floatformat:"2" }}</h3>
  </div>
  <div class="col-sm-8">
      <h3>Descrição:</h3>
      {{ book.description|linebreaks }}
  </div>
</div>
    <p class="text-right">
          <a href="{% url 'create_cartitem' book.slug %}" class="btn btn-success">Adicionar ao Carrinho</a>
      </p>
{% endblock %}
